<% if flash[:already_logged_in] %>
  <h3><%= flash[:already_logged_in] %> </h3>
<% elsif flash[:successful_login] %>
  <h3><%= flash[:successful_login] %> </h3>
<% else flash[:successful_signup] %>
  <h3><%= flash[:successful_signup] %> </h3>
<% end %>

<h4><%= @user.name.capitalize %>, here is your bucket list!</h4>
<small>(You can click on a specific item if you wish to edit or delete it)</small>
<br></br>

<% if @user.items.empty? %>
  <p>You have not created any bucket list items yet!</p>
  <p>Go ahead and create your first item or view others' for inspiration by following the links above.</p>
<% else %>
  <% @user.items.each do |i|%>
    <h4><a href="/items/<%= i.id %>"><%= i.title %></a></h4>
    <p><%= i.description %></p>
    <small><%= i.created_at%></small>
    </br>
  <% end %>
<% end %>